.add__todo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.todo__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.new__todo__field {
  width: 100%;
  display: flex;
  align-items: center;
}

.new__todo__label {
  width: 33.3%;
}

.new__todo__title__label::after {
  content: "*";
  color: red;
}

.new__todo__input {
  width: 66.6%;
}

.new__todo__input::placeholder {
  font-style: italic;
}

.new__todo__input:focus::placeholder {
  opacity: 0.6;
}

.btn--add__todo {
  color: #fff;
  background: #ff9900;
  align-self: stretch;
}


@media screen and (min-width: 960px) {
  .add__todo {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .todo__form {
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
  }

  .new__todo__field {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .new__todo__label {
    width: 100%;
  }

  .new__todo__input {
    width: 100%;
  }

  .btn--add__todo {
    align-self: flex-end;
  }

}
