.label {
  color: white;
}

.input {
  background: #f5f6f7;
  padding: 8px 16px;
  border: 2px solid #ff9900;
  border-radius: 10px;
  outline: none;
}

input:focus{
  border: 2px solid #f3c409;
  outline: none;
}

